* {
    font-family: "Roboto", sans-serif;
}

.logo {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    padding: 10px;
}

.logo_color {
    color: #4bc9f3;
}

.nav_list {

    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #36444f;
}



.nav_list a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;

}

.nav_list li {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.nav_list li:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;

}



main {
    display: flex;

}

aside {
    margin-right: 100px;
}

.asidelist_container {
    list-style-type: none;
    border: 1px solid black;
    flex-direction: column;
    width: 250px;
    padding: 0px;
}

.asidelist_container a {
    text-decoration: none;
    color: #000;
    padding: 15px;
    display: flex;
}

.asidelist_container li{
    
    transition:all 0.3s ease;
}




.asidelist_container li:hover {
    background-color: #707070;
    padding-left: 30px ;
}


figure {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-right: 0px;

}

img {
    margin: 50px;
}

img:hover {
    scale: 1.2;
}


section p {
    padding: 0px 50px;
}

.footer_container {
    background-color: #b6b7bb;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.footer_container a {
    text-decoration-color: transparent;
    color: #000;
    transition:all 0.3s ease;

}

.footer_container li {
    margin: 0px 35px;

}

#copyright {
    margin-left: 450px;
}

.footer_container a:hover {
    text-decoration: underline;
    text-decoration-color: #3333ff;
}

